body {
	margin: 0;
	font-family:  arial;
}

header {
	background-color: black;
	background-image: url("Content/unnamed.png");
	background-size: 100%;
	background-position: top;
	color: white;
	padding: 100px 15px 0 15px;
	
}

header h1 {
	margin: 0;
	display: inline;
	font-size: 40px;
}

nav ul {
	margin: 0;
	padding: 0 0 0 30px;
	display: inline;
}

nav ul li {
	background: black;
	color: white;
	display:  inline-block;
	list-style-type: none;
	padding: 5px 15px;
	font-size: 20px;
}

/* Make Hyperlink white */
nav ul li a {
	color: white;
}

footer a {
	color: grey;
}


section {
	background: white;
	color: black;
	padding: 20px;
}


footer {
	background: black;
	color: grey;
	font-size: 12px;
	padding: 10px 20px;
	text-align: center;
}

li.current {
	background-color: darkslategrey;
}


a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: none;}


.features {
	background: white;
	color: black;
}

.features figure img{
	border: 1px solid grey;
	float: left;
	border-radius: 3%;
}

.features ul {
	display: inline-block;
	padding: 0 0 300px 40px;
}

table, th, td {
	border: 1.5px solid black;
	border-collapse: collapse;
  }