:root {
    --primary: rgb(143, 38, 38);
    --light: #EEEEEE;
    --dark: #212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    justify-content: space-between;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary);
}

h1 {
    color: white;
    font-size: 28px;
    font-weight: 900;
    /* letter-spacing: 2px; */
    /* text-transform: uppercase; */
}

.hamburger {
    display: block;
    position: relative;
    z-index: 1;

    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;

    transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--primary);
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span {
    background-color: var(--primary);
}

.menu {
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a {
    color: #FFF;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a.is-active, .menu a:hover {
    background-color: var(--primary);
}

@media (min-width: 870px) {
    .hamburger {
        display: none;
    }
    .menu {
        display: flex;
    }
}

main {
    padding: 100px 32px;
    display: block;
}

.banner h1 {
    color: var(--primary);
    /* text-decoration: underline; */
    display: block;
}

.banner h2 {
    color: var(--dark);
    display: block;
    line-height: 1.25;
}

.name h2{
    color: var(--primary);
    padding-top: 20px;
}

.icons {
    text-align: center;
}

.icons a{
    padding-top: 20px;
    padding-bottom: 20px;
    
    display: inline-block; 
    width: 75px;
    color: var(--dark);
}

.icons a:hover{
    color: var(--primary);
}

.panels {
    padding-top: 5px;
    padding-bottom: 5px;
    column-gap: 5px;

    text-align: center;
    display: flex;
}

.panels div {
    flex: 1;
}

div.primary-panel {
    padding: 10px;
    text-align: left;

	vertical-align: top;

    background-color: var(--dark);
	color: white;

    height: 240px;

    border: 1px solid #000000;
    border-radius: 13px;
}

div.primary-panel h2 {
    color: white;
    padding-bottom: 5px;
}

footer {
    border-bottom: 3px solid var(--primary);

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

	background: var(--dark);
	color: var(--light);
	font-size: 17px;
	padding: 10px 20px;
	text-align: center;
}

footer a {
	color: var(--light);
    text-decoration:none;  
}




  
  /* * {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
  }
   */

   .info h2 {
    color: white;
    }

    .info {
        height: 240px;
    }
  
  /* Timeline Container */
  .timeline {
    margin: 20px auto;
    padding: 20px;
  }
  
  /* Card container */
  .card {
    margin: auto;
    position: relative;
    max-width: 450px;
    display: inline-block;
  }
  
  /* setting padding based on even or odd */
  .card:nth-child(odd) {
    padding: 30px 30px 30px 30px;
  }
  .card:nth-child(even) {
    padding: 30px 30px 30px 30px;
  }
  /* Global ::before */
  .card::before {
    content: "";
    position: absolute;
    width: 100%;
    border: solid var(--primary);
  }
  
  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 5px 5px 5px;
    border-radius: 50px 0 50px 50px;
  }
  
  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 5px;
    border-radius: 50px 50px 50px 0;
  }
  
  /* Removing the border if it is the first card */
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    background: var(--dark);
    color: var(--light);
    border-radius: 10px;
    padding: 10px;
  }
  
  /* Title of the card */
  .title {
    color: white;
    position: relative;
  }
  
  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid var(--primary);
  }
  
  /* text right if the card is even  */
  .card:nth-child(even) > .info > .title {
    text-align: right;
  }
  
  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .title::before {
    left: -45px;
  }
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .title::before {
    right: -45px;
  }